{% extends "base.html" %} 

{% block content %}
  <h1> About Us</h1>
  <div class="mx-auto" style="width: 700px;">
      <p1 class="fst-italic"> Chatterbox: Where Connections Come Alive! </p1><br>
  <p1>Our Mission: Build a positive, inclusive space for everyone to connect, share, and thrive. We prioritize real interactions and genuine communities, fostering respect, empathy, and mutual support. Your Privacy Matters: We believe in complete control over your data. Robust privacy settings keep your information safe, giving you the peace of mind to freely express yourself. Connect & Discover: Chatterbox is for everyone! Showcase your work, ideas, or simply find like-minded individuals. Our unique features and focus on content moderation ensure a safe and thriving environment.<p1>
  <p1>Join us today! Redefine social networking and be part of something extraordinary.<p1>
  </div>
{% endblock %}
